In [2]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

In [3]:
df=pd.read_csv(r"E:\KARTHIK\movie_dataset.csv")
print(df.head(3))

   index     budget                                    genres  \
0      0  237000000  Action Adventure Fantasy Science Fiction
1      1  300000000                  Adventure Fantasy Action
2      2  245000000                    Action Adventure Crime

                                       homepage      id  \
0                   http://www.avatarmovie.com/   19995
1  http://disney.go.com/disneypictures/pirates/     285
2   http://www.sonypictures.com/movies/spectre/  206647

                                            keywords original_language  \
0  culture clash future space war space colony so...                en
1  ocean drug abuse exotic island east india trad...                en
2         spy based on novel secret agent sequel mi6                en

                             original_title  \
0                                    Avatar
1  Pirates of the Caribbean: At World's End
2                                   Spectre

                                            overview  popularity  ... runtime  \
0  In the 22nd century, a paraplegic Marine is di...  150.437577  ...   162.0
1  Captain Barbossa, long believed to be dead, ha...  139.082615  ...   169.0
2  A cryptic message from Bond’s past sends him o...  107.376788  ...   148.0

                                    spoken_languages    status  \
0  [{"iso_639_1": "en", "name": "English"}, {"iso...  Released
1           [{"iso_639_1": "en", "name": "English"}]  Released
2  [{"iso_639_1": "fr", "name": "Fran\u00e7ais"},...  Released

                                          tagline  \
0                     Enter the World of Pandora.
1  At the end of the world, the adventure begins.
2                           A Plan No One Escapes

                                      title vote_average vote_count  \
0                                    Avatar          7.2      11800
1  Pirates of the Caribbean: At World's End          6.9       4500
2                                   Spectre          6.3       4466

                                                cast  \
0  Sam Worthington Zoe Saldana Sigourney Weaver S...
1  Johnny Depp Orlando Bloom Keira Knightley Stel...
2  Daniel Craig Christoph Waltz L\u00e9a Seydoux ...

                                                crew        director
0  [{'name': 'Stephen E. Rivkin', 'gender': 0, 'd...   James Cameron
1  [{'name': 'Dariusz Wolski', 'gender': 2, 'depa...  Gore Verbinski
2  [{'name': 'Thomas Newman', 'gender': 2, 'depar...      Sam Mendes

[3 rows x 24 columns]

In [4]:
df.isna().sum()

index                      0
budget                     0
genres                    28
homepage                3091
id                         0
keywords                 412
original_language          0
original_title             0
overview                   3
popularity                 0
production_companies       0
production_countries       0
release_date               1
revenue                    0
runtime                    2
spoken_languages           0
status                     0
tagline                  844
title                      0
vote_average               0
vote_count                 0
cast                      43
crew                       0
director                  30
dtype: int64

In [5]:
list(df.columns)
df.shape

(4803, 24)

In [6]:
columns1=['keywords','cast','overview','director','genres']
df[columns1].head(3)

,keywords,cast,overview,director,genres
0,culture clash future space war space colony so...,Sam Worthington Zoe Saldana Sigourney Weaver S...,"In the 22nd century, a paraplegic Marine is di...",James Cameron,Action Adventure Fantasy Science Fiction
1,ocean drug abuse exotic island east india trad...,Johnny Depp Orlando Bloom Keira Knightley Stel...,"Captain Barbossa, long believed to be dead, ha...",Gore Verbinski,Adventure Fantasy Action
2,spy based on novel secret agent sequel mi6,Daniel Craig Christoph Waltz L\u00e9a Seydoux ...,A cryptic message from Bond’s past sends him o...,Sam Mendes,Action Adventure Crime

In [7]:
for col in columns1:
    df[col]=df[col].fillna('')

In [8]:
df.isna().sum()

index                      0
budget                     0
genres                     0
homepage                3091
id                         0
keywords                   0
original_language          0
original_title             0
overview                   0
popularity                 0
production_companies       0
production_countries       0
release_date               1
revenue                    0
runtime                    2
spoken_languages           0
status                     0
tagline                  844
title                      0
vote_average               0
vote_count                 0
cast                       0
crew                       0
director                   0
dtype: int64

In [9]:
df.shape

(4803, 24)

In [11]:
#getting df.column in one string
def imp_feature(data):
    imp_list=[]
    for i in range(0,data.shape[0]):
        imp_list.append(data['keywords'][i]+''+data['cast'][i]+''+data['director'][i]+''+data['genres'][i])
    return imp_list
df['imp_features'] = imp_feature(df)
df.shape

(4803, 25)

In [12]:
def get_title_from_index(index):
    return df[df.index == index]["title"].values[0]
def get_index_from_title(title):
    return df[df.title == title]["index"].values[0]

In [13]:
cv = CountVectorizer().fit_transform(df['imp_features'])
tfidf = TfidfVectorizer().fit_transform(df['imp_features'])

In [14]:
from sklearn.metrics.pairwise import cosine_similarity
cosine_sim = cosine_similarity(cv)

In [15]:
movie_user= "Avatar"
movie_id=get_index_from_title(movie_user)
print(movie_id)
cosine_sim.shape

0

(4803, 4803)

In [16]:
scores = list(enumerate(cosine_sim[movie_id]))

In [17]:
print(scores[:5])

[(0, 0.9999999999999999), (1, 0.03928371006591931), (2, 0.045643546458763846), (3, 0.0), (4, 0.21759706994462233)]

In [18]:
sorted_scores = sorted(scores, key=lambda x:x[1], reverse=True)

In [19]:
sorted_scores = sorted_scores[1:]
type(sorted_scores)
print(sorted_scores[:3])

[(94, 0.39167472590032015), (3158, 0.3333333333333334), (3208, 0.30463589792247125)]

In [20]:
j=0
print("The 7 most similar movies to ", movie_user,"are: \n")
for item in sorted_scores:
    movie_name=get_title_from_index(item[0])
    print(movie_name)
    j+=1
    if j>6:
        break

The 7 most similar movies to  Avatar are:

Guardians of the Galaxy
Alien
Star Wars: Clone Wars: Volume 1
Cargo
Star Trek Beyond
Planet of the Apes
Moonraker